body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 1em;
	color: #000;
}

header.title {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffebf0;
}

header.title h1 {
    margin-bottom: 10px;
}

h2{
    margin: 10px 10px 10px 10px;
    color: #000000;
}

@font-face {
	font-family: "Pacifico";
	src: url('fonts/Pacifico.ttf') format('truetype');
}

.font-class-1 {
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    margin: 0;
}

.font-class-2 {
    font-family: "Lobster", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    margin: 0;
}

.font-class-3 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.font-class-4 {
    list-style-type: circle;
    list-style-position: inside ;
    font-family: "Arial", sans-serif;
    padding: 0;
    font-size: 1.5em;
    margin: 0;
}


footer {
    margin-top: auto;
    padding: 10px;
    border-top: 5px solid black;
    background-color: #ffebf0;
}
